{% extends "base.html" %}

{% block title %}Home - Larry{% endblock %}

{% block content %}
    <p class="text-lg font-medium">{{ message }}</p>

    <div class="max-w-xl mx-auto mt-6 text-gray-700">
        <p class="text-base">
            Hey there! Meet Larry — your friendly neighborhood SEO analyzer.
            Larry checks your site’s speed, sniffs out SEO issues,
            and keeps everything running smoother than your morning coffee.
        </p>
    </div>
    <div class="mt-8">
        <a href="/load-sheet-before "
           class="inline-block px-6 py-3 bg-blue-600 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 transition">
            Click to Load Google Sheet and process the before stage
        </a>
    </div>
        <div class="mt-8">
        <a href="/load-sheet-after "
           class="inline-block px-6 py-3 bg-blue-600 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 transition">
            Click to Load Google Sheet and process the after stage
        </a>
    </div>
{% endblock %}
